In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('D:\\movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
94,tt2473510,10000000,78099553,Paranormal Activity: The Ghost Dimension,Chris J. Murray|Brit Shaw|Ivy George|Lauren Fr...,Gregory Plotkin,You can't save them. All you can do is watch.,"Using a special camera that can see spirits, a...",88,Horror|Thriller,Paramount Pictures|Blumhouse Productions,10/21/2015,5.0,2015
775,tt1253864,75000000,226904017,Immortals,Mickey Rourke|Kellan Lutz|Isabel Lucas|Henry C...,Tarsem Singh,The Gods need a hero.,Theseus is a mortal man chosen by Zeus to lead...,110,Fantasy|Action|Drama,Virgin Produced|Mark Canton Productions,11/10/2011,5.6,2011
1345,tt0386140,75000000,142400065,The Legend of Zorro,Antonio Banderas|Catherine Zeta-Jones|AdriÃ¡n ...,Martin Campbell,"This Fall, adventure begins with a Z.","In 1850, the people of California were voting ...",129,Action|Adventure|Drama|Western,Amblin Entertainment|Columbia Pictures Corpora...,10/24/2005,5.8,2005
1059,tt0763831,40000000,22044277,A Thousand Words,Eddie Murphy|Allison Janney|Cliff Curtis|Clark...,Brian Robbins,He only has 1000 words left to discover what m...,"Jack McCall is a fast-talking literary agent, ...",91,Drama|Comedy,Paramount Pictures|DreamWorks SKG|Saturn Films...,3/7/2012,5.8,2012
783,tt0770703,20000000,30426096,What's Your Number?,Chris Evans|Anna Faris|Martin Freeman|Chris Pr...,Mark Mylod,Ally's looking for the best ex of her life.,Ally Darling (Anna Faris) is realizing she's a...,106,Comedy|Romance,Regency Enterprises|Contrafilm|New Regency Pic...,9/30/2011,6.2,2011

In [235]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [9]:
answers = {}  # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data.revenue - data.budget  # profit calculation
data['release_month'] = pd.to_datetime(data.release_date).dt.month  # release month calculation
data['title'] = data.original_title + ' (' + data.imdb_id + ')' # имя фильма с номером

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [10]:
answers['1'] = data[data.budget == data.budget.max()].title
answers['1']

723    Pirates of the Caribbean: On Stranger Tides (t...
Name: title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
answers['2'] = data[data.runtime == data.runtime.max()].title
answers['2']

1157    Gods and Generals (tt0279111)
Name: title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
answers['3'] = data[data.runtime == data.runtime.min()].title
answers['3']

768    Winnie the Pooh (tt1449283)
Name: title, dtype: object

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = round(data.runtime.mean())
answers['4']

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = round(data.runtime.median())
answers['5']

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
# код получения столбца profit вынесен в Предобработку что в начале
answers['6'] = data[data.profit == data.profit.max()].title
answers['6']

239    Avatar (tt0499549)
Name: title, dtype: object

# 7. Какой фильм самый убыточный?

In [16]:
# код получения столбца profit вынесен в Предобработку что в начале
answers['7'] = data[data.profit == data.profit.min()].title
answers['7']

1245    The Lone Ranger (tt1210819)
Name: title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [17]:
answers['8'] = len(data[data.profit > 0])
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [18]:
answers['9'] = data[data.release_year == 2008].sort_values('profit',ascending=False).title.head(1)
answers['9']

599    The Dark Knight (tt0468569)
Name: title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [19]:
answers['10'] = data[(data.release_year >= 2012) & (data.release_year <= 2014)].sort_values('profit',ascending=True).title.head(1)
answers['10']

1245    The Lone Ranger (tt1210819)
Name: title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [20]:
# Вариант 1
answers['11'] = data.genres.str.split('|', expand=True).stack().value_counts().index[0]
answers['11']

'Drama'

In [21]:
# Вариант 2
genres = data.genres.str.split('|')  # преобразовываем жанры в списки
genres = genres.explode()  # разворачиваем списки жанров

answers['11'] = genres.value_counts().index[0]
answers['11']

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [22]:
dt_profit = data[data.profit > 0].copy()  # выбираем из дф фильмы с положительным профитом
dt_profit.genres = dt_profit.genres.str.split('|')  # преобразовываем жанры в списки
genre_profit = dt_profit.explode('genres').genres  # разворачиваем списки жанров и получаем серию жанров

answers['12'] = genre_profit.value_counts().sort_values(ascending=False).index[0]
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [23]:
dt_revenue_by_director = data.copy()  # копирем DataFrame для дальнейшей обработки
dt_revenue_by_director.director = dt_revenue_by_director.director.str.split('|')  # преобразовываем режиссеров в списки
dt_revenue_by_director = dt_revenue_by_director.explode("director")  # разворачиваем DataFrame по спискам режиссеров

answers['13'] = dt_revenue_by_director.groupby('director').revenue.sum().sort_values(ascending=False).index[0]
answers['13']

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [24]:
dt_director = data[data.genres.str.contains('Action')].copy()  # фильтруем и копирем DataFrame для дальнейшей обработки
dt_director.genres = dt_director.genres.str.split('|')  # преобразовываем жанры в списки
dt_director = dt_director.explode("genres")  # разворачиваем DataFrame по спискам жанров
dt_director.director = dt_director.director.str.split('|')  # преобразовываем режиссеров в списки
directors = dt_director.explode("director").director  # разворачиваем списки режиссеров и получаем серию режиссеров

answers['14'] = directors.value_counts().sort_values(ascending=False).index[0]
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [25]:
dt_cast = data[data.release_year == 2012].copy()  # фильтруем и копирем DataFrame для дальнейшей обработки
dt_cast.cast = dt_cast.cast.str.split('|')  # преобразовываем актеров в списки актеров
dt_cast = dt_cast.explode("cast") # разворачиваем DataFrame по спискам актеров

answers['15'] = dt_cast.groupby('cast').revenue.sum().sort_values(ascending=False).index[0]
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [26]:
dt_cast = data[data.budget > data.budget.mean()].copy()  # фильтруем и копирем DataFrame для дальнейшей обработки
dt_cast.cast = dt_cast.cast.str.split('|')   # преобразовываем актеров в списки актеров
casts = dt_cast.explode("cast").cast # разворачиваем DataFrame по спискам актеров и получаем серию актеров

answers['16'] = casts.value_counts().sort_values(ascending=False).index[0]
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [27]:
dt_cast = data[data.cast.str.contains('Nicolas Cage')].copy()  # фильтруем и копирем DataFrame для дальнейшей обработки
dt_cast.cast = dt_cast.cast.str.split('|')  # преобразовываем актеров в списки актеров
dt_cast = dt_cast.explode("cast")  # разворачиваем DataFrame по спискам актеров

dt_cast.genres = dt_cast.genres.str.split('|')  # преобразовываем жанры в списки жанров
genres = dt_cast.explode("genres").genres  # разворачиваем DataFrame по спискам жанров и получаем серию жанров

answers['17'] = genres.value_counts().sort_values(ascending=False).index[0]
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [28]:
dt_film = data[data.production_companies.str.contains('Paramount Pictures')].copy()  # фильтруем и копирем DataFrame

answers['18'] = dt_film.groupby('title').profit.sum().sort_values(ascending=True).index[0]
answers['18']

'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [29]:
answers['19'] = data.groupby('release_year').revenue.sum().sort_values(ascending=False).index[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [30]:
dt_year = data[data.production_companies.str.contains('Warner Bros')]  # фильтруем DataFrame

answers['20'] = dt_year.groupby('release_year').profit.sum().sort_values(ascending=False).index[0]
answers['20']

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [31]:
answers['21'] = data.release_month.value_counts().sort_values(ascending=False).index[0]
answers['21']

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [59]:
answers['22'] = len(data[data.release_month.isin([6,7,8])])  # выбираем только летние месяцы
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [32]:
dt_director = data[data.release_month.isin([1,2,12])].copy()  # выбираем только зимние месяцы
dt_director.director = dt_director.director.str.split('|')  # преобразовываем режиссеров в списки режиссеров
directors = dt_director.explode("director").director  # разворачиваем по спискам режиссеров и получаем серию режиссеров

answers['23'] = directors.value_counts().sort_values(ascending=False).index[0]
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [33]:
dt_films = data.copy()  # копирем DataFrame для дальнейшей обработки

# подсчитывает кол-во знаков в названии фильма
dt_films['original_title_length'] = dt_films.original_title.map(lambda x: len(x))

# преобразовываем фильмы в списки
dt_films.production_companies = dt_films.production_companies.str.split('|')

# разворачиваем по спискам фильмов
dt_films = dt_films.explode('production_companies')

answers['24'] = dt_films.groupby('production_companies').original_title_length.max().sort_values(ascending=False).index[0]
answers['24']

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [34]:
dt_films = data.copy()  # копирем DataFrame для дальнейшей обработки

# подсчитывает кол-во слов в описании фильма
dt_films['overview_length'] = dt_films.overview.map(lambda x: len(x.split(' ')))

# преобразовываем фильмы в списки
dt_films.production_companies = dt_films.production_companies.str.split('|')

# разворачиваем по спискам фильмов
dt_films = dt_films.explode('production_companies')

answers['25'] = dt_films.groupby('production_companies').overview_length.mean().sort_values(ascending=False).index[0]
answers['25']

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [58]:
answers['26'] = data.sort_values(by='vote_average', ascending=False).original_title.head(int(len(data)*(0.01)))
answers['26']

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [55]:
dt_cast = data.copy() # копирем DataFrame для дальнейшей обработки
dt_cast.cast = dt_cast.cast.str.split('|')  # преобразовываем актеров в списки актеров
dt_cast = dt_cast.explode("cast")  # разворачиваем по спискам актеров

# создаем новый DataFrame с колонками id фильма и актера
dt_cast = dt_cast[['imdb_id','cast']]

# создаем пары актеров по фильтам
dt_joined = dt_cast.merge(dt_cast, how = 'inner', on = 'imdb_id')

# отсекаем актеров
dt_joined = dt_joined[dt_joined.cast_x != dt_joined.cast_y]

answers['27'] = dt_joined.groupby(['cast_x','cast_y']).count().sort_values(by='imdb_id', ascending=False).head(1)
answers['27']

                               imdb_id
cast_x       cast_y
Rupert Grint Daniel Radcliffe        8

# Submission

In [60]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides (t...
 Name: title, dtype: object,
 '2': 1157    Gods and Generals (tt0279111)
 Name: title, dtype: object,
 '3': 768    Winnie the Pooh (tt1449283)
 Name: title, dtype: object,
 '4': 110,
 '5': 107,
 '6': 239    Avatar (tt0499549)
 Name: title, dtype: object,
 '7': 1245    The Lone Ranger (tt1210819)
 Name: title, dtype: object,
 '8': 1478,
 '9': 599    The Dark Knight (tt0468569)
 Name: title, dtype: object,
 '10': 1245    The Lone Ranger (tt1210819)
 Name: title, dtype: object,
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '27':                                imdb_id
 cast_x       cast_y
 Rupert Grint Daniel Radcliffe        8,
 '26': 599                                   The Dark Knight
 118                                      Interstellar
 125                                The Imitation Game
 9                                          Inside Out
 34                                               Room
 1183                          The Wolf of Wall Street
 128                                         Gone Girl
 1191                                 12 Years a Slave
 119                           Guardians of the Galaxy
 1081    The Lord of the Rings: The Return of the King
 1800                                          Memento
 370                                         Inception
 872                                       The Pianist
 138                          The Grand Budapest Hotel
 1188                                              Her
 28                                          Spotlight
 124                                        Big Hero 6
 177                            The Fault in Our Stars
 Name: original_title, dtype: object,
 '22': 450}

In [61]:
# и убедиться что ни чего не пропустил)
len(answers)

27